# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.idea/
.vscode/

# Logs and debugging
*.log

# Data files


# Models
*.sav
*.pt
*.pth
*.model

# Environment files
.env
.DS_Store

# OS files
Thumbs.db

# Python egg metadata
*.egg-info/

# Cache
.cache/
.pytest_cache/
